<h1>{{ title }}</h1>
<p>Click a usecase from the list to show it's details</p>

<div class="container-flow">
  <div class="row">
    <div class="col-5 show-outlet">
      <table class="table table-sm table-bordered">
        <tbody>
          <tr class="table-primary">
            <th>Usecase id and name:</th>
          </tr>
          <tr *ngFor="let useCase of useCases | async">
            <td>
              <button (click)="showUseCase(useCase.id)" class="btn">
                <strong>{{ useCase.id }} {{ useCase.name }}</strong>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col show-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
