<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">About this application</h1>
    <p>
      This application is made in the context of the 'Clientside web frameworks' course of Avans Hogeschool
      Breda.
    </p>
    <h3>{{ TITLE }}</h3>
    <p>
      Make characters of different species and having different roles.<br />
      Be a powerful but chaotic Demon, intelligent en resourceful Valemnian or wise and ancient Beast! <br />
      Take on a role, be a precise Archer, brute Brawler or a sneaky Assasin.
    </p>
    <p>
      A normal user will be able to view characters and species without even needing to log in.<br />
      When logged in, a user can view their own characters they made, compare them with any other character in
      the system and can create their own characters.<br />
      Admins, in addition to having the same rights as logged in users, have the ability to perform Create,
      Update and Delete operations op the Role and Species entities.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="Image Maxime"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ NAME }}</h5>
        <p class="card-text">Studentnumber: {{ STUDENT_NUMBER }}</p>
      </div>
    </div>
  </div>
</div>

<h3>Entities</h3>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>User</h4>
        <ul>
          <li>name: string (unique)</li>
          <li>characters: [character]</li>
          <li>activated: boolean</li>
          <li>isAdmin: boolean</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Character</h4>
        <ul>
          <li>name: string</li>
          <li>species: Species</li>
          <li>role: Role</li>
          <li>stats: numbers (virtual, omitted for brevity)</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>Species</h4>
        <ul>
          <li>name: string</li>
          <li>stats: numbers (omitted for brevity)</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Role</h4>
        <ul>
          <li>name: string</li>
          <li>stats: numbers (omitted for brevity)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>BaseStats</h4>
    <p>no seperate entity, but posted here for brevity.</p>
    <ul>
      <li>health: number</li>
      <li>mana: number</li>
      <li>stamina: number</li>
      <li>physicalPower: number</li>
      <li>magicalPower: number</li>
      <li>physicalDefense: number</li>
      <li>magicalDefense: number</li>
      <li>speed: number</li>
      <li>luck: number</li>
      <li>charisma: number</li>
    </ul>
  </div>
</div>

<h3>Database Diagram</h3>
<div>
  <img src="assets/images/ValemniaBloodMoonERD.svg" alt="Image Database Diagram" />
</div>

<h3>Database & Backend</h3>
<p>
  The current implementation uses a Firebase backend for the persistence of the application.<br />
  However, there is a problem with this current implementation, because the use of Firebase makes it harder to
  write end-to-end (e2e) tests that use persisted data.<br />
  Even though the NoSQL course has already successfully been finished, this single page application will be
  using a MongoDB backend running on the express server distributing this very page.<br />
  Because the NoSQL course has already been passed, Neo4J or any other graph database will not be part of this
  application.
</p>
