<td>{{ character.name }}</td>
<td>{{ character.roleName }}</td>
<td>{{ character.speciesName }}</td>
<td>
  <div *ngIf="(uid$ | async) === character.uid" class="row">
    <button type="button" class="btn btn-primary" (click)="onClick('filter')">Compare</button>
    <div class="btn-group" style="margin-top: 2px">
      <button type="button" class="btn btn-secondary" (click)="onClick('edit')">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onClick('delete')">Delete</button>
    </div>
  </div>
</td>
