<table class="table table-sm table-hover">
  <thead>
    <tr class="table-primary">
      <th>Character name</th>
      <th>Role name</th>
      <th>Species name</th>
      <th colspan="2">
        <button class="btn btn-secondary" (click)="createCharacter()" type="button">Create</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      character-list-element
      *ngFor="let character of characters$ | async"
      [character]="character"
      [uid$]="uid$"
      (clickEvent)="handleEvent($event)"
      (click)="showCharacter(character.id)"
    ></tr>
  </tbody>
</table>
