<h1>My characters</h1>
<p>Click a character from the list to show it's details</p>

<div class="container-flow">
  <div class="row">
    <div class="col-5 show-outlet">
      <app-character-list [characters$]="characterService.myCharacterForms$"></app-character-list>
    </div>
    <div class="col show-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
