<div class="container">
  <ng-container *ngIf="fields$ | async as comparedModelFields">
    <table class="table table-sm table-striped">
      <thead>
        <tr class="table-primary">
          <th scope="row">Stat</th>
          <th scope="row">{{ comparedModelFields.nameOne }}</th>
          <th scope="row">{{ comparedModelFields.nameTwo }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of comparedModelFields.fields">
          <td>{{ field.name }}</td>
          <td>{{ field.valueOne }}</td>
          <td>{{ field.valueTwo }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="(fields$ | async) == null">
    <p>Select a character first</p>
  </ng-container>
</div>
