<div class="container">
  <h1>Character Form</h1>
  <form (ngSubmit)="onSubmit()" #characterForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        minlength="10"
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required and must be at least 10 characters long
      </div>
    </div>

    <div class="form-group">
      <label for="speciesId">Species</label>
      <select
        name="speciesId"
        id="speciesId"
        class="form-control"
        required
        [(ngModel)]="model.speciesId"
        name="speciesId"
        #speciesId="ngModel"
      >
        <option *ngFor="let species of species$ | async" [value]="species.id">
          {{ species.name }}
        </option>
      </select>
      <div [hidden]="speciesId.valid || speciesId.pristine" class="alert alert-danger">
        Species is required
      </div>
    </div>
    <div class="form-group">
      <label for="roleId">Role</label>
      <select
        name="roleId"
        id="roleId"
        class="form-control"
        required
        [(ngModel)]="model.roleId"
        name="roleId"
        #roleId="ngModel"
      >
        <option *ngFor="let role of roles$ | async" [value]="role.id">
          {{ role.name }}
        </option>
      </select>
      <div [hidden]="roleId.valid || roleId.pristine" class="alert alert-danger">Role is required</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!characterForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetForm()">Reset</button>
    <button type="button" class="btn btn-light float-right" (click)="cancelForm()">Cancel</button>
  </form>

  <div>
    <h3>Species</h3>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Health</th>
          <th scope="col">Mana</th>
          <th scope="col">Stamina</th>
          <th scope="col">Physical Power</th>
          <th scope="col">Magical Power</th>
          <th scope="col">Physical Defense</th>
          <th scope="col">Magical Defense</th>
          <th scope="col">Speed</th>
          <th scope="col">Luck</th>
          <th scope="col">Charisma</th>
        </tr>
      </thead>
      <tbody *ngFor="let stats of species$ | async">
        <tr>
          <th scope="row">{{ stats.name }}</th>
          <td>{{ stats.health }}</td>
          <td>{{ stats.mana }}</td>
          <td>{{ stats.stamina }}</td>
          <td>{{ stats.physicalPower }}</td>
          <td>{{ stats.magicalPower }}</td>
          <td>{{ stats.physicalDefense }}</td>
          <td>{{ stats.magicalDefense }}</td>
          <td>{{ stats.speed }}</td>
          <td>{{ stats.luck }}</td>
          <td>{{ stats.charisma }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Roles</h3>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Health</th>
          <th scope="col">Mana</th>
          <th scope="col">Stamina</th>
          <th scope="col">Physical Power</th>
          <th scope="col">Magical Power</th>
          <th scope="col">Physical Defense</th>
          <th scope="col">Magical Defense</th>
          <th scope="col">Speed</th>
          <th scope="col">Luck</th>
          <th scope="col">Charisma</th>
        </tr>
      </thead>
      <tbody *ngFor="let stats of roles$ | async">
        <tr>
          <th scope="row">{{ stats.name }}</th>
          <td>{{ stats.health }}</td>
          <td>{{ stats.mana }}</td>
          <td>{{ stats.stamina }}</td>
          <td>{{ stats.physicalPower }}</td>
          <td>{{ stats.magicalPower }}</td>
          <td>{{ stats.physicalDefense }}</td>
          <td>{{ stats.magicalDefense }}</td>
          <td>{{ stats.speed }}</td>
          <td>{{ stats.luck }}</td>
          <td>{{ stats.charisma }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
