<div class="container">
  <h1>{{ type | async | titlecase }} Form</h1>
  <form (ngSubmit)="onSubmit()" #characterForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
    </div>

    <div class="form-group">
      <label for="health">Health</label>
      <input
        type="number"
        class="form-control"
        id="health"
        min="0"
        max="100"
        required
        [(ngModel)]="model.health"
        name="health"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="mana">Mana</label>
      <input
        type="number"
        class="form-control"
        id="mana"
        min="0"
        max="100"
        required
        [(ngModel)]="model.mana"
        name="mana"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="stamina">Stamina</label>
      <input
        type="number"
        class="form-control"
        id="stamina"
        min="0"
        max="100"
        required
        [(ngModel)]="model.stamina"
        name="stamina"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="physicalpower">PhysicalPower</label>
      <input
        type="number"
        class="form-control"
        id="physicalpower"
        min="0"
        max="100"
        required
        [(ngModel)]="model.physicalPower"
        name="physicalpower"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="magicalPower">MagicalPower</label>
      <input
        type="number"
        class="form-control"
        id="magicalPower"
        min="0"
        max="100"
        required
        [(ngModel)]="model.magicalPower"
        name="magicalPower"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="physicalDefense">PhysicalDefense</label>
      <input
        type="number"
        class="form-control"
        id="physicalDefense"
        min="0"
        max="100"
        required
        [(ngModel)]="model.physicalDefense"
        name="physicalDefense"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="magicalDefense">MagicalDefense</label>
      <input
        type="number"
        class="form-control"
        id="magicalDefense"
        min="0"
        max="100"
        required
        [(ngModel)]="model.magicalDefense"
        name="magicalDefense"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="speed">Speed</label>
      <input
        type="number"
        class="form-control"
        id="speed"
        min="0"
        max="100"
        required
        [(ngModel)]="model.speed"
        name="speed"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="luck">Luck</label>
      <input
        type="number"
        class="form-control"
        id="luck"
        min="0"
        max="100"
        required
        [(ngModel)]="model.luck"
        name="luck"
        #name="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="charisma">Charisma</label>
      <input
        type="number"
        class="form-control"
        id="charisma"
        min="0"
        max="100"
        required
        [(ngModel)]="model.charisma"
        name="charisma"
        #name="ngModel"
      />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!characterForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetForm()">Reset</button>
    <button type="button" class="btn btn-light float-right" (click)="cancelForm()">Cancel</button>
  </form>
</div>
