<h1>{{ type$ | async | titlecase }} List</h1>
<p>Click a {{ type$ | async }} from the list to show it's details</p>

<div class="container-flow">
  <div class="row">
    <div class="col-5 show-outlet">
      <table class="table table-sm table-hover">
        <thead>
          <tr class="table-primary">
            <th>{{ type$ | async | titlecase }} name</th>
            <th>
              <button
                *ngIf="isAdmin$ | async"
                class="btn btn-secondary float-right"
                (click)="createModel()"
                type="button"
              >
                Create
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            generic-model-list-element
            *ngFor="let model of models$ | async"
            [isAdmin]="isAdmin$ | async"
            [model]="model"
            (clickEvent)="handleEvent($event)"
            (click)="showModel(model.id)"
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="col show-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
