<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ shortTitle }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenuCharacter" ngbDropdownToggle>Character</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuCharacter">
              <button
                class="dropdown-item"
                routerLink="/character/create"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Create
              </button>
              <button
                class="dropdown-item"
                routerLink="/character"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Characters
              </button>
              <button
                class="dropdown-item"
                routerLink="/character/mycharacters"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                My characters
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenuSpecies" ngbDropdownToggle>Species</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuSpecies">
              <button
                class="dropdown-item"
                routerLink="/species/create"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Create
              </button>
              <button
                class="dropdown-item"
                routerLink="/species"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Species
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenuRole" ngbDropdownToggle>Role</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuRole">
              <button
                class="dropdown-item"
                routerLink="/role/create"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Create
              </button>
              <button
                class="dropdown-item"
                routerLink="/role"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Roles
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="usecases"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >UseCases</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button
            (click)="authService.signOut()"
            class="btn btn-link"
            [hidden]="(authService.loggedIn$ | async) === false"
          >
            Log out
          </button>
          <button
            (click)="authService.googleSignin()"
            class="btn btn-link"
            [hidden]="authService.loggedIn$ | async"
          >
            Log in
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
