<td>{{ model.name }}</td>
<td>
  <div class="row">
    <div *ngIf="isAdmin" class="btn-group">
      <button type="button" class="btn btn-primary" (click)="onClick('filter')">Compare</button>
      <button type="button" class="btn btn-secondary" (click)="onClick('edit')">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onClick('delete')">Delete</button>
    </div>
  </div>
</td>
