<div class="container">
  <ng-container *ngIf="modelFields$ | async">
    <table class="table table-sm table-striped">
      <thead>
        <tr class="table-primary">
          <th scope="row">Stat</th>
          <th scope="row">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td>{{ (modelFields$ | async)?.name }}</td>
        </tr>
        <tr *ngFor="let field of (modelFields$ | async)?.fields">
          <td>{{ field?.name }}</td>
          <td>{{ field?.value }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="(modelFields$ | async) == null">
    <p>Select a character first</p>
  </ng-container>
</div>
