<h1>Compare characters</h1>
<p>Click a character from the list to compare it to your chosen character</p>

<div class="container-flow">
  <div class="row">
    <div class="col-5 show-outlet">
      <div class="row">
        <form [formGroup]="filterForm" class="form-inline">
          <label class="my-1 mr-2">Filter on: </label>
          <select formControlName="filterTypeCtrl" class="form-control my-1 mr-sm-2">
            <option *ngFor="let type of filterTypes | keyvalue" [ngValue]="type.value">{{ type.key }}</option>
          </select>
        </form>
      </div>
      <div class="row">
        <app-character-list [characters$]="characters$"></app-character-list>
      </div>
    </div>
    <div class="col show-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
